
.hide{
    display: none;
}

.show{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-self: center;
}

li{
    list-style-type: none;
}